/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #42a1e5;
  --button-color: #42a1e5;
  --button-color-alt: #808080;
  --title-color: white;
  --text-color: black;
  --text-color-light: white;
  --body-color: white;
  --container-color: #808080;
  --border-color: white;

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 2 rem;
  --h2-font-size: 5 rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: 0;
  padding: 0;
  background: white;

}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}


/*=============== REUSABLE CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 10 rem 0 1rem;
}

.section__title {
  position: relative;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color:#000000;
}

.section__title::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 67px;
  height: 1px;
  background-color: var(--first-color);
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.7489846280308998) 0%, rgba(66,161,229,1) 43%, rgba(128,128,128,1) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  font-size: 1.25rem;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, 
.nav__toggle, 
.nav__shop, 
.nav__close {
  color: white;
}

.nav__logo {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-size: 5 rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
}

.nav__btns {
  color: #FFF;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__toggle, 
.nav__shop {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 3.5rem;
    transition: .3s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.nav__link {
  color: #FFF ;
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: .9rem;
  right: 1.25rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, .10);
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home__container {
  position: relative;

}

.home__img {
  width: 200px;
  display: initial;
}

.home__img-bg {
  display: initial;
  margin-top: 100px;
  transform: translateX(1.5rem);
  height: 390 px;
  width: 390px;
}

.home__social {
  position: absolute;
  top: 50%;
  left: 10rem;
  display: inline;
  column-gap: 5rem;
  background-color: #000000;
}

.home__social-link {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  transition: .3s;
}

.home__social-link:hover {
  color: var(--title-color);
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-1);
  color: black;
}

.home__description {
  margin-bottom: var(--mb-1-5);
  color: black;
}

.home__price {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.home__btns {
  border-radius: 3rem;
  display: flex;
  align-items: center;
}

.home__button {
  box-shadow: 0 12px 24px hsla(0, 0%, 10%, .2);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--button-color);
  color: #FFF;
  padding: 1.25rem 2rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.button:hover {
  background-color: var(--button-color-alt);
}

.button--gray {
  background-color: hsl(0, 0%, 0%);
  color: var(--title-color);
}

.button--gray:hover {
  background-color: hsl(0, 0%, 63%);
}

.button--small {
  padding: 1rem 1.5rem;
}

/*=============== FEATURED ===============*/
.featured__container {
  row-gap: 2.5rem;
  height: 600px;
}

.featured__card {
  position: relative;
  text-align: center;
  background-color: var(--container-color);
  padding-top: 2rem;
  box-shadow: 1rem 0 2rem #000000;
  /*border: 1px solid var(--border-color);*/
  overflow-y: hidden;
  border-radius: 10px;
  transition: .3s;
}

.featured__tag {
  background-color: var(--first-color);
  padding: .5rem .5rem;
  color: #fff;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  transform: rotate(-90deg);
  left: -1rem;
  top: 3rem;
}

.featured__img {
  height: 214px;
  margin-bottom: var(--mb-1);
}

.featured__title, 
.featured__price {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

.featured__title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-75);
  color: #000000;
}

.featured__price {
  display: block;
  color: var(--first-color);
  transition: .3s;
}

.featured__button {
  font-size: var(--small-font-size);
  transform: translateY(1rem);
  opacity: 0;
}

.featured__card:hover {
  box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
  padding: 2rem 0 3rem 0;
}

.featured__card:hover .featured__button {
  transform: translateY(0);
  opacity: 1;
}

.featured__card:hover .featured__price {
  margin-bottom: var(--mb-1-5);
}

/*=============== PRODUCTS ===============*/
.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.products__card {
  position: relative;
  background-color: var(--container-color);
  padding: 1.25rem 0;
  box-shadow: 1rem 0 2rem #000000;
  /*border: 1px solid var(--border-color);*/
  text-align: center;
  transition: .3s;
  border-radius: 10px;
}

.products__img {
  height: 125px;
  margin-bottom: var(--mb-1);
  background-color: black;
}

.products__title, 
.products__price {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: black;
}

.products__title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-5);
  color: black;
}

.products__price {
  color: var(--first-color);
}

.products__button {
  background-color: var(--button-color);
  padding: .4rem;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: .3s;
}

.products__button:hover {
  background-color: var(--button-color-alt);
}

.products__card:hover {
  box-shadow: 0 8px 32px hsla(0, 0%, 10%, .1);
}

/*=============== REVIEWS ===============*/
.testimonial__container {
  row-gap: 4rem;
}

.testimonial__quote {
  display: inline-flex;
  background-color: transparent;
  padding: .5rem .75rem;
  font-size: 1.5rem;
  color: var(text-color);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
  margin-bottom: var(--mb-2);
}

.testimonial__description {
  margin-bottom: var(--mb-1);
  color: var(--text-color);
}

.testimonial__date {
  color: #FFF;
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
}

.testimonial__perfil {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 7rem;
}

.testimonial__perfil-img {
  width: 60px;
  height: 60px;
  border-radius: 3rem;
}

.testimonial__perfil-data {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.testimonial__perfil-name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: white;
}

.testimonial__perfil-detail {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.testimonial__images {
  position: relative;
}

.testimonial__img, 
.testimonial__square {
  width: 250px;
}

.testimonial__square {
  height: 250px;
  background-color: var(--first-color);
  margin-left: auto;
}

.testimonial__img {
  position: absolute;
  right: 2rem;
  top: 3rem;
}
.testimonial-swiper {
  margin-left: initial;
  margin-right: initial;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
}

/* Swiper class */
.swiper-button-next,
.swiper-button-prev {
  top: initial;
  bottom: 5%;
  width: initial;
  height: initial;
  background-color: transparent;
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
  padding: .25rem;
  font-size: 1.5rem;
  color: var(--first-color);
  display: flex;
  flex-direction: row;
}

.swiper-button-next {
  right: initial;
  left: 4rem;
  display: flex;
  flex-direction: row;
}

/*=============== NEW ARRIVAL ===============*/
.new__card {
  position: relative;
  text-align: center;
  background-color: transparent;
  padding-top: 2rem;
  border: 1px solid transparent;
  overflow-y: hidden;
  transition: .3s;
  border-radius: 10px;
}

.new__tag {
  background-color: var(--first-color);
  padding: .5rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: .3s;
}
.new__card {
  display: inline-block;
  width: calc(25% - 20px); /* Adjust the width as needed */
  margin-right: 20px; /* Add some space between each card */
}

.new__container {
  white-space: nowrap; /* Prevents the container from wrapping */
  overflow-x: auto; /* Enables horizontal scrolling */
}

.new-swiper {
  width: 100%; /* Ensure swiper container takes full width */
}

.new__card:last-child {
  margin-right: 0; /* Remove margin from the last card to avoid extra space */
}
.new__img {
  height: 215px;
  margin-bottom: var(--mb-1);
}

.new__title, 
.new__price {
  color: white;
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

.new__title {
  color: white;
  text-transform: uppercase;
  margin-bottom: var(--mb-0-75);
}

.new__price {
  display: block;
  color: var(--text-color);
  transition: .3s;
}

.new__button {
  font-size: var(--small-font-size);
  transform: translateY(1rem);
  opacity: 0;
}

.new__card:hover {
  background-color: gray;
  box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
  padding: 2rem 0 3rem 0;
}

.new__card:hover .new__tag {
  background-color: var(--button-color);
}

.new__card:hover .new__button {
  transform: translateY(0);
  opacity: 1;
}

.new__card:hover .new__title {
  color:var(--text-color);
}

.new__card:hover .new__price {
  color: var(--text-color);
  margin-bottom: var(--mb-1-5);
}
/*=============== LOCATION ===============*/
.location__container {
  row-gap: 7.5rem;
}

.location__title {
  font-size: var(--h1-font-size);
}

.location__description {
  font-size: var(--h4-font-size);
}

.location__images {
  position: relative;
}

.location__img, 
.location__square {
  width: 250px;
}

.location__img {
  position: absolute;
  left: 3rem;
  top: -3rem;
}
/*=============== SUBSCRIPTION ===============*/
.newsletter__bg {
  background-color: gray;
  padding: 3rem 1.5rem;
  text-align: center;
  row-gap: 2.5rem;
}

.newsletter__title {
  font-size: var(--h1-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-1-5);
}

.newsletter__description {
  color: var(--text-color);
}

.newsletter__subscribe {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}

.newsletter__input {
  border: none;
  outline: none;
  background-color: hsl(0, 0%, 94%);
  padding: 1.25rem 1rem;
  color: hsl(0, 0%, 15%);
}

/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 2rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 3rem;
}

.footer__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__list, 
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
  color: var(--text-color);
}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--text-color);
}

.footer__social-link:hover {
  color: var(--title-color);
}

.footer__copy {
  display: block;
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 17%);
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .home__img-bg {
    width: 220px;
  }
  .home__title {
    font-size: var(--h1-font-size);
  }
  .home__button {
    font-size: var(--smaller-font-size);
  }

  .location__square,
  .location__img,
  .testimonial__square,
  .testimonial__img {
    width: 180px;
  }

  .location__square,
  .testimonial__square {
    height: 180px;
  }

  .products__container {
    grid-template-columns: repeat(1, 180px);
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__img-bg {
    width: 340px;
  }

  .featured__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 8rem 0 1rem;
  }

  .cart {
    width: 420px;
    box-shadow: -2px 0 4px hsla(0, 0%, 15%, .1);
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    justify-content: initial;
    column-gap: 3rem;
  }
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .nav__link {
    text-transform: initial;
    font-size: var(--normal-font-size);
  }
  .nav__btns {
    margin-left: auto;
  }

  .home__container {
    padding-top: 6rem;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }
  .home__img-bg {
    order: 1;
    transform: translate(1.5rem, -6rem);
  }
  .home__data {
    padding: 0 0 3rem 6rem;
  }


  .featured__title,
  .featured__price,
  .new__title,
  .new__price {
    font-size: var(--normal-font-size);
  }

  .location__container,
  .testimonial__container,
  .newsletter__bg {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-radius: 10px;
  }

  .location__section-title {
    text-align: initial;
  }
  .location__section-title::before {
    margin: initial;
  }
  .location__images {
    order: -1;
  }

  .products__container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 2.5rem;
  }
  .products__card {
    padding: 2rem 0;
  }
  .products__img {
    height: 155px;
  }

  .newsletter__bg {
    text-align: initial;
    column-gap: 2rem;
    padding: 4.5rem;
  }
  .newsletter__subscribe {
    flex-direction: row;
  }
  .newsletter__input {
    width: 100%;
  }

  .footer__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }
  .footer__title {
    font-size: var(--h3-font-size);
  }
}

@media screen and (min-width: 992px) {
  .section__title {
    font-size: var(--h2-font-size);
  }

  .home__container {
    column-gap: 2rem;
  }
  .home__img-bg {
    width: 480px;
    height: 400px;
  }
  .home__img {
    width: 420px;
  }
  .home__social {
    left: 6rem;
  }
  .home__data {
    padding: 0 0 8rem 6rem;
  }

  .featured__container {
    grid-template-columns: repeat(3, 312px);
    padding-top: 2rem;
  }
  
  .location__container,
  .testimonial__container {
    column-gap: 8rem;
  }

  .location__square,
  .location__img,
  .testimonial__square,
  .testimonial__img {
    width: 450px;
  }

  .location__square,
  .testimonial__square {
    height: 450px;
  }

  .products__container,
  .new__container {
    padding-top: 2rem;
  }

  .testimonial__container {
    padding-bottom: 4rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  
  .location__container,
  .testimonial__container {
    column-gap: 13rem;
  }

  .location__container {
    padding-top: 3rem;
  }
  .location__img {
    left: 5rem;
    top: -5rem;
  }

  .testimonial__img {
    right: 5rem;
    top: 5rem;
  }

  .scrollup {
    right: 3rem;
  }
}